<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New ID</title>
</head>
<body>
    <form method="post" action="/instagram">
        <input placeholder="enter username" name="username"><br><br>
        <input placeholder="enter posts" name="posts"><br><br>
        <input placeholder="enter followers" name="followers"><br><br>
        <input placeholder="enter following" name="following"><br><br>
        <textarea placeholder="enter about" name="about" rows="10" cols="35"></textarea><br><br>
        <button>Submit</button>
    </form>
</body>
</html>