h2 {
    color:rgb(223, 21, 105);
}
.card {
    width:300px;
    background-color: #fff;
    border :1px solid black;
    border-radius: 10px;
    padding:20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.user_info {
    display: flex;
    flex-direction: column;
}
/* .stat {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
} */
.about {
    margin-top: 20px;
    color : #666;
    font-size: 14px;
}

a {
    text-decoration: none;
    color:red;
}

span {
    color:green;
}